このアプリケーションはGoogleカレンダーからAPIを使用して予定を取得し、それを表示するカレンダーアプリケーションのプロトタイプです。
試験的にフロントエンドだけ作っています。
技術としてはRemix*PandaCSSを使い、SSRを中心に動かしているため、データフェッチングなどはすべてサーバー側で行いたいです。
google calendar APIのsdkにはgoogleapisを使用しています。
sessionにaccessTokenを保存しています